<form action="/cars/addCar" method="post">
  <label for="makeModel">Enter make, model</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="price">Enter price</label>
  <input id="price" name="price" type="text">
  <label for="miles">Enter miles</label>
  <input id="miles" name="miles" type="text">
  <button type="submit">Submit</button>
</form>

